@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Baloo+Da+2&family=Open+Sans:wght@300&family=Poppins:wght@300;400;600&family=Public+Sans:wght@100&family=Quicksand:wght@600&display=swap');

html {
  scroll-behavior: smooth;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 4rem;
  box-shadow: 0px 15px 10px -15px #D9D9D9  ;
}

.Logo{
  margin-left: -2rem;
}

.logo{
  position: relative;
width: 11.587rem;
height: 2.711rem;
left:  -3.5rem;
top: 0.5rem;
}


.child-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
}

.child-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.children{
  width: 4.063rem;
  width: 100%;
  margin: 0 2rem;
}

.children:hover{
  cursor: pointer;
  text-decoration: underline;
}

.loginbtn{
  background: rgba(45, 174, 202, 0.94);
  border-radius: 36px;
  border: 0;
  height: 2.5rem;
  width: 7.5rem;
  transition: 5s smooth ease;
}

.loginbtn:hover{
  transform: translateY(-3px);
  animation: cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.loginbtn:active{
  transform: scale(0.9);
}

.logintext{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  line-height: 14px;
  text-align: center;
  transition: 5s smooth;
  cursor:pointer;
}

.logintext:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
}

.header {
  width: 100%;
  overflow-x: hidden;
  height: 25.635rem;
  background: linear-gradient(81.19deg, rgba(25, 64, 176, 0.71) 0.38%, #16A3FE 100%);
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  background-position:center;
  width: 100vw;
  height: 26rem;
  /* height: 100%; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('./assets/Vector.png');
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* opacity: 0.4; */
}

.main-header {
  /* position: absolute; */
  margin-top: 2%;
  margin-left: -5%;
  /* transform: translate(-46%, -46%); */
  font-size: 24px;
}

.headerline {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
font-size: 34px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}

.section-1{
  overflow-x: hidden;
  /* position: absolute; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 242px;
}

.section-1content{
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 309px;
  left: 432px;
  top: 57px;
  background-size: cover;
  background: url("./assets/work-pressure.png");
}

.subsection{
  /* position: absolute; */
  overflow: hidden;
  text-align: center;
  width: 800px;
  font-size:larger;
  line-height: 45px;
  font-weight: 400;
}

.btnprof{
  margin-top: 1rem;
  width: 255px;
  height: 52px;
  box-sizing: border-box;
  border: 0;
  background: linear-gradient(180deg, rgba(25, 64, 176, 0.94) 0%, #2DAECA 100%);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 35.52px;
}

.btnText{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
font-weight: 400;
font-size:17px;
line-height: 33px;
text-align: center;
}

.section-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 584px;;
}

.section-2-content{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 50%;
}

.section-2-content h1{
font-size: 45px;
padding-bottom: 2rem;
line-height: 73px;
}

.section-2-content p{
  font-size: 22.206px;
line-height: 51px;
text-align: justify;
}


.section-2-content-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 35rem;
  
}

.section-2-content-img img{
  height: 33rem;
}

.section-3{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 655px;
}

.section-3-content-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 40%;
  height: 500px;
}


.section-3-content{
  display: flex;
  
  flex-direction: column;
  margin-left: 1rem;
  width: 56%;
  height: 603px;
  background: linear-gradient(125.46deg, #4C7CCF 0%, #2297F1 96.72%);
  border-radius: 10px;
}

.section-3-content h1{
  padding-left: 2rem;
  padding-top: 2rem;
  width: 570px;
  height: 71px;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}


.section-3-content p{
  font-family: 'Inter';
  font-style: normal;
 font-weight: 400;
  padding-left: 2rem;
  width: 602px;
  height: 490px;
  font-size: 19px;
  line-height: 35px;
  text-align: justify;
  color: #FFFFFF;
}


.section-4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 28rem;
  overflow: hidden;
}

.section-4-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
}

.STAR{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.4rem;
}

.star1{
  padding-right: 9rem;
}

.star2{
  padding-left: 9rem;
  
}

.section-4-content-1{
  width: 705px;
  height: 128px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

.section-4-content-1 p{
  font-size: 15px;
}

.Services{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  width: 98vw;
  height: 669px;
}

.Vector{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.vector{
  position: relative;
  display: flex;
  flex-direction: column;
}

.vector1{
  position: absolute;
    left: -4.02rem;
    top: -2.9rem;
    transform: rotate(-60deg);
}

.vector2{
  position: absolute;
  left: -3.16rem;
  top: -2.29rem;
  transform: rotate(-45deg);
}

.vector3{
  position: absolute;
  left: -2.6rem;
  top: -1.43rem;
  transform: rotate(-30deg);
}

.vector4{
  position: absolute;
  left: -2.2rem;
  top: -0.5rem;
  transform: rotate(-15deg);
}

.vector5{
  position: absolute;
  left: -2.1rem;
  top: 0.53rem;
}

.vector6{
  position: absolute;
  left: -2.26rem;
  top: 1.49rem;
  transform: rotate(15deg);
}

.vector7{
  position: absolute;
  left: -2.68rem;
  top: 2.4rem;
  transform: rotate(30deg);
}

.vector8{
  position: absolute;
  left: -3.3rem;
  top: 3.2rem;
  transform: rotate(45deg);
}

.vector9{
  position: absolute;
  left: -4.1rem;
  top: 3.9rem;
  transform: rotate(60deg);
}
.vectors{
  display: flex;
  flex-direction: column;
  transform: rotate(-180deg);
}

.service-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serv-btns{
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.service-btns button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  width: 165.52px;
  height: 242.46px;
  background: linear-gradient(279.61deg, #2DAECA 3.14%, #2E7FC9 116.69%), linear-gradient(91.82deg, #4CCB57 1.11%, #3EC84B 69.66%), #0C0C0C;
  border-radius: 104px;

}

.chat{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}


.session{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 145px;
}

.circles{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle1{
  position: absolute;
}

.circle2{
  position: absolute;
}

.circle3{
  position: absolute;
}

.session button{
  background: linear-gradient(180deg, rgba(25, 64, 176, 0.94) 0%, #2DAECA 100%);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 35.52px;
border: 0;
width:264.56px;
height:71.04px;
}


.BookSessionbtn{
  font-family: 'Poppins';
font-style: thin;
font-weight: 400;
font-size: 22px;
line-height: 36px;
z-index: 1;
text-align: center;

color: #FFFBD6;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 161px;
  width: 100%;
}

.icon-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #1E1E1E;

}

.Test{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77rem;
}

.diagnostic-test{
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(279.61deg, #2DAECA 3.14%, #2E7FC9 116.69%);
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.12);
border-radius: 63px;
width: 1282.57px;
height: 505.19px;
}


.test-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.test-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-right: 4rem;

}

.test-text h1{
  padding-bottom: 2rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}


.test-text p{
  font-family: 'Poppins';
  padding-bottom: 2rem;
  padding-left: 1rem;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}

.test-text button{
  background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 35.52px;
border: 0;
width: 386px;
height: 71px;
}

.testbtn{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: center;
}

.testbtn a{
  color: rgba(45, 174, 202, 0.94);

}


.About{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 518px;
  background: linear-gradient(125.46deg, #4C7CCF 0%, #2297F1 96.72%);
  padding-top: 3rem;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 78%;
  height: 518px;
}

.about h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;
padding-bottom: 4rem;
padding-right: 3rem;
color: #FFFFFF;
}

.about img{
  padding-right: 4rem;
}

.about p{
  padding: 4rem;
  font-family: 'Poppins';
font-style: normal;
font-weight: small;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;

}

.Footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Foot-section-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Foot-section-1-content{
  display: flex;
    flex-direction: column;
    margin-right: 34rem;
    padding: 3rem 2rem;
    padding-bottom: 0rem;

}

.footsection-2{
  display: flex;
}

.footsection-2 div{
  display: flex;
  margin: 0.5rem 1rem;
}

.footer-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;
letter-spacing: -0.011em;

color: #333333;

}

.footerlogo{
  margin-bottom: 1rem;
}

.contact{
  display: flex;
  margin: 1rem 0;
}

.contact img{
  margin: 0rem 1rem;
}

.divider{
  background: #0A142F;
  width: 84%;
  opacity: 0.06;
  border: 1px solid #0A142F;
}

.newsletter{
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #0A142F;

}


.newsletter input{
  background: #FFFFFF;
 border: 1px solid rgba(0, 0, 124, 0.2);
 border-radius: 6px;
 width: 274.09px;
 height: 46.09px;
}

.newsletter button{
  background: #478EFF;
  border: 0;
  border-radius: 6px;
  width : 55.26px;
  height : 46.09px;
}

.Login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 82.6rem;
  height: 570px;
}

.login-content-1{
  width: 50%;
  background: linear-gradient(150.64deg, #5479CB 0%, #2DAECA 100%);
  display: flex;
  height:880px;
  margin-top: -0.5rem;
  align-items: center;
  justify-content: center;
  
}

.login-content-2{
  display: flex;
  justify-content: end;
  height: 662px;
  flex-direction: column;
  margin-left: 7rem;
  width: 50%;
}

.login-content-2-div{
  margin-top: 0rem;
}

.login-content-div {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15.9273px;
line-height: 22px;
color: #545454;
}


.login-form{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    height: 459px;
font-style: normal;
font-weight: 400;
font-size: 15.4394px;
color: #8E8E8E;

}

.login-form-eye{
  position: absolute;
  top: -2rem;
  left: 29rem;
}

.login-content-div h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36.782px;
  line-height: 67px;
  color: #1E1E1E;
}

.login-form form{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.login-form form::-webkit-scrollbar{
  width: 7px;
  height: 30px;
} 

.login-form form::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.2);
}

.required{
  color: red;
  margin-left: 3px;
}
.login-form form label{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20.9273px;
  line-height: 25px;
  color: #AAAAAA;

}

.login-form form input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 504px;
  font-size: 1.5rem;
  height: 50.96px;
  border-bottom: 1.22076px solid #AAAAAA;
}

input:focus {
  outline: none;
}

.loggedin {
  margin-top: 3rem;
  font-family: 'Roboto';
  text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 20.9273px;
line-height: 25px;
color: #545454;
text-decoration-line: underline;
}

.loggedin button{
  margin-left: 7rem;
}

.login-logo{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.logos{
  display: flex;
  flex-direction: row;
  margin-left: 8rem;
  /* align-items: center;
  justify-content: center; */
  
}


.logos div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 1rem;
  width: 76px;
height: 76px;
box-shadow: 0px 4.5px 67.5px rgba(0, 0, 0, 0.08);
}

.Session{
  display: flex;
  height: 595px;
}

.session-content-1{
  width: 47%;
  height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-content-1-img{
  width: 364px;
  height: 423px;
  background-image: url('./assets/Doctor.png');
  background-size: cover;
  background-position: center;
}

.back-img{
  background-image: url('./assets/Vector.svg');
  background-size: cover;
  background-position:center;
  width: 82rem;
  height: 315px;
}

.session-content-2{
    width: 47%;
    overflow-y: auto;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 15px 10px -15px #D9D9D9;
    border-radius: 15px;
    height: 42rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
}

.session-content-2-book{
  display: flex;
    width: 100%;
    height: 52px;
    background: linear-gradient(93.6deg, #2193B0 2.21%, rgba(109, 213, 237, 0.7) 100%);
    border-radius: 15px 15px 0px 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #FFFFFF;
}

.session-content-2 form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: -1rem;
  width: 90%;
}

.session-content-2 form label{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.4rem;
}

.session-content-2 form input{
  background: #FAFFFD;
    border: 1px solid #919090;
    width: 416px;
    height: 30px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 12px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: rgba(30, 30, 30, 0.6);
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  background: #FAFFFD;
  width: 34rem;
  border: 1px solid #919090;
  border-radius: 12px;

}

.selected-option,
.dropdown-options {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: rgba(30, 30, 30, 0.6);
  padding: 6px;
  border-radius: 4px;

}

.selected-option {
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.maintime{
  position: relative;
  width: 34rem;
height: 3rem;
background: #FAFFFD;
border-radius: 12px;
}

.maintime div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  color: rgba(30, 30, 30, 0.8);
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(30, 30, 30, 0.7);
  border-radius: 5px;
}

.sessions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3rem;
  font-size: 20px;
}

.sessions-table th,
.sessions-table td {
  border: 1px solid #39bada;
  padding: 8px;
  text-align: left;
}

.sessions-table th {
  background-color: #f2f2f2;
}

.sessions-table tr:hover {
  background-color: #f5f5f5;
}


.option1{
  top: 0rem;
  left: 0.9rem;  
  width: 7.3rem;
  height: 2rem;
}

.option2{
  top: 0rem;
  width: 8rem;
  height: 2rem;
  left: 9.1rem;  
}

.option3{
  top: 0rem;
  left: 18rem;  
  width: 6.5rem;
  height: 2rem;
}

.option4{
  top: 0rem;
  left: 25.2rem;  
  width: 8rem;
  height: 2rem;
}


.session-content-2 form button{
  background: linear-gradient(91.92deg, #2DAECA 0%, #5479CB 99.36%);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.11);
border-radius: 19px;
margin-top: 2.6rem;
margin-left: 8rem;
border: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 30px;
color: #FFFBDA;
width: 16rem;
height: 3.5rem;
}

.session-content-2 form button:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.appointmenttype div{
  margin: 0 0.8rem;
}

.appointmenttype{
  display: flex;
  align-items: center;
}

.chat1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 8rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14.9137px;
  line-height: 22px;
  color: black;
  border: 1px solid #2DAECA;
  background: #FFFFFF;
  border-radius: 12.6766px;
}

.selected:hover{
  cursor: pointer;
  scale: 1.1;
}

.call{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
width: 8rem;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.9137px;
line-height: 22px;
  border: 1px solid #2DAECA;
  background: #2DAECA;
border-radius: 12.6766px;
}

.meet{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
width: 12rem;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.9137px;
line-height: 22px;
  color: black;
  border: 1px solid #2DAECA;
  background: #FFFFFF;
border-radius: 12.6766px;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 1.8rem;
  color: #1E1E1E;

}

.user h1{
  
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 63px;
text-align: center;
  margin: 2rem 0 0 0;
color: #1E1E1E;
}

/* .user img{
  margin: 1rem 0;
} */

.feel{
  height: 315px;
  background: linear-gradient(180deg, #2E89C9 0%, #2DA8CA 100%);
  display: flex;
  justify-content: center;
}

.feeling{
  width: 84%;
  height: 316px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feel-text{
  margin-top: 0.6rem;
  margin-bottom: 3rem;
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #1E1E1E;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moods{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood{
  margin: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #1E1E1E;

}

.clicked{
  margin: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #1E1E1E;
}

.mood:hover{
  cursor: pointer;
  scale: 1.1;
}

.BookSession{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.BookSession h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 63px;
text-align: center;
color: #1E1E1E;
}

.booksession-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 48px;
text-align: center;
padding: 2rem 4rem;
color: #000000;
}

.session-button button{
  margin: 0rem 2rem;
  background: linear-gradient(180deg, rgba(25, 64, 176, 0.94) 0%, #2DAECA 100%);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 35.52px;
border: 0;
width: 15rem;
height: 4rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #FFFBD6;
}

.my-sessions{
  display: flex;
  align-items: center;
  justify-content: center;
}

.test{
  width: 100vw;
}

.diagnostic-Test{
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  width: 83rem;
  flex-direction: column;
}

.questionnaire{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.question label{
  font-family: "rubrik";
  margin: 1rem 0;
}


.animation{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular{
  background-image: url(https://wallpapersite.com/images/pages/pic_w/4826.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
	animation-name: pulse;
	animation-duration: 10s;	
	animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: inset 0 0 0 3px #79a6e8; 
  z-index: -1;
}

.container:after {
  content: 'breathe in';
  position: absolute;
  color: rgba(255, 255, 255, .7);
  top: calc(50% - 26px);
  left: calc(50% - 148px);
  font-size: 24px;
  font-family: Helvetica;
  width: 100%;
  vertical-align: middle;
  text-align: center;
	animation-name: text;
	animation-duration: 10s;	
	animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container:before {
  content: '';
  width: 16px;
  height: 50%;
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 8px);
  z-index: 999;
  background-image:
    radial-gradient(
      circle at top center,
      #6080c8 0%,
      #6080c8 8px,
      transparent 8px,
      transparent 100%
    );
  animation-timing-function: linear;
  transform-origin: center bottom;
	animation-name: rotate;
	animation-duration: 10s;	
	animation-iteration-count: infinite; 
}

.circle {
  width: 94%;
  height: 94%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #80c4e0 0%, #656cd2 100%);
  position: absolute;
  top: 3%;
  left: 3%;
}

.circle:before {
  content: '';
  width: 16px;
  height: 50%;
  position: absolute;
  display: block;
  top: -9px;
  left: calc(50% - 8px);
  background-image:
    radial-gradient(
      circle at top center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 8px,
      transparent 8px,
      transparent 100%
    );
}

.circle:after {
  content: '';
  width: 16px;
  height: 50%;
  position: absolute;
  display: block;
  bottom: -9px;
  left: calc(50% - 8px);
  background-image:
    radial-gradient(
      circle at bottom center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 8px,
      transparent 8px,
      transparent 100%
    );
}

@keyframes text {
  0% {
    content: 'breathe in';
  }
  100% {
    content: 'breathe out';
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes pulse {
	0% {
		transform: scale(.6);
	}
	50% {
		transform: scale(1);
	}	
	100% {
		transform: scale(.6);
	}			
}


.fogetpassword-eye1{
  width: 4rem;
  position: absolute;
  top: 21rem;
  left: 74rem
}

.fogetpassword-eye2{
  width: 4rem;
  position: absolute;
  top: 29rem;
  left: 74rem;
}

@media (max-width: 480px) {
  .logo{
  left:  -1.5rem;
  }

  .main-header{
    margin-left: -4%;
  }

  .header::before{
    width: 77.6rem;
  }
  
  .section-1content{
    left: 362px;
  }

  .subsection{
    font-size: 22px;
  }
  .Services{
    width: 73rem;
  }
  
  .service-btns button{
    width: 148.52px;
    height: 221.46px;
  }

  .Session{
    flex-direction: column;
    height: 150rem;
    align-items: center;
  }

  .session-content-1{
    height: 38rem;
  }
  .session-content-1 img{
    width: 505px;
    height: 510px;
    
  }
  .session-content-2{
    height: 94rem;
    margin-top: 3.5rem;
    width: 64%;
  }
  .session-content-2-book{
    font-size: 31px;	
    width: 100%;
    height: 84px;
    ;
    }
    
  .session-content-2 form label{
    line-height: 9rem;
    font-size: 35px;
  }

  .session-content-2 form input {
   width: 494px;
   height:50px;
    font-size: 15px;
     line-height: 24px;
  }

  .custom-dropdown{
    width: 34rem;    
  }

  .chat1 {
    height: 50px;
    width:10rem;
    font-size: 15.9137px;
    line-height: 22px;
    }

    .call {
      height: 50px;
      width: 10rem;
      font-size: 15.9137px;
      line-height: 22px;
      }
      
      .meet {
        height: 50px;
        width: 14rem;
        font-size: 15.9137px;
        line-height: 22px;
        }
        .selected-option{
          line-height: 35px;
          font-size: 22px;
        }
        .appointmenttype div {
          margin: 0 0.8rem;
          }
        .session-content-2 form button {
            margin-top: 3.6rem;
            margin-left: 11rem;
            font-size: 22px;
            line-height: 30px;
            width: 20rem;
            height: 5.5rem;
            }
          
        .back-img {
              height: 491px;
              }
              
              .Login{
                flex-direction: column-reverse;
                height: 171rem;
              }
              .login-content-1{
                width: 100%;
              }
              .login-content-2{
                height: 106rem;
                margin-left: 10rem;
              }

              .login-content-2 div button{
                margin: 
                2.6rem 2rem 1.6rem 1rem;
                width: 194.27px;
                height: 69.76px;
                }
                .login-content-2 div a{
                  font-size: 2rem;
                }
              .login-content-div{
                line-height: 114px;
                font-size: 43px;
              }
            
            .login-content-div h1{
              font-size: 47.782px
            }
            .login-form{
              height: 80rem;
              font-size: 15.49px;
            }
            .loginbtn{
              height: 2.5rem;
              width: 7.5rem;
            }
            .loginbtn a{
              font-size: 1.3rem;
            }
          .login-form form{
            height: 38rem;
            overflow: hidden;
          }
          .login-form-eye{
            width: 5rem;
            position: absolute;
            top: 57.3rem;
            left: 54rem;
          }

          .login-form form label{
            font-size: 43.9273px;
    	     line-height: 60px;
          }
          .login-form form input{
           font-size: 2.5rem;
    	     height: 60.96px;

          }
          .loggedin{
              font-size: 33.9273px;
              line-height: 85px;
              margin-top: 3rem;           }   
        
            .login-logo{
              align-items: normal;
            }
            .logos{
              margin-left: 3rem;
              }
              .logos div {
                width: 116px;
                height: 116px;
              }
                
              .register{
                height: 193rem;
              font-size: 15.49px;
              }
              .register form{
                height: 51rem;
              }

              .fogetpassword-eye1{
                top: 54rem;
                left: 54rem;
              }
              
              .fogetpassword-eye2{
                top: 64rem;
                left: 55rem;
              }
}



@media (min-width: 481px) and (max-width: 768px) {
  .logo{
    left:  -1.5rem;
    }
  
    .main-header{
      margin-left: -4%;
    }
  
    .header::before{
      width: 77.6rem;
    }
    
    .section-1content{
      left: 362px;
    }
  
    .subsection{
      font-size: 22px;
    }

    .Services{
      width: 73rem;
    }
    
    .service-btns button{
      width: 148.52px;
      height: 221.46px;
    }
    .Session{
      flex-direction: column;
      height: 150rem;
      align-items: center;
    }
  
    .session-content-1{
      height: 38rem;
    }
    .session-content-1 img{
      width: 505px;
      height: 510px;
      
    }
    .session-content-2{
      height: 94rem;
      margin-top: 3.5rem;
      width: 64%;
    }
    .session-content-2-book{
      font-size: 31px;	
      width: 100%;
      height: 84px;
      ;
      }
      
    .session-content-2 form label{
      line-height: 9rem;
      font-size: 35px;
    }
  
    .session-content-2 form input {
     width: 494px;
     height:50px;
      font-size: 15px;
       line-height: 24px;
    }
  
    .custom-dropdown{
      width: 34rem;    
    }
  
    .chat1 {
      height: 50px;
      width:10rem;
      font-size: 15.9137px;
      line-height: 22px;
      }
  
      .call {
        height: 50px;
        width: 10rem;
        font-size: 15.9137px;
        line-height: 22px;
        }
        
        .meet {
          height: 50px;
          width: 14rem;
          font-size: 15.9137px;
          line-height: 22px;
          }
          .selected-option{
            line-height: 35px;
            font-size: 22px;
          }
          .appointmenttype div {
            margin: 0 0.8rem;
            }
          .session-content-2 form button {
              margin-top: 3.6rem;
              margin-left: 11rem;
              font-size: 22px;
              line-height: 30px;
              width: 20rem;
              height: 5.5rem;
              }
            
          .back-img {
                height: 491px;
                }
                
                .Login{
                  flex-direction: column-reverse;
                  height: 171rem;
                }
                .login-content-1{
                  width: 100%;
                }
                .login-content-2{
                  height: 106rem;
                  margin-left: 10rem;
                }
  
                .login-content-2 div button{
                  margin: 
                  2.6rem 2rem 1.6rem 1rem;
                  width: 194.27px;
                  height: 69.76px;
                  }
                  .login-content-2 div a{
                    font-size: 2rem;
                  }
                .login-content-div{
                  line-height: 114px;
                  font-size: 43px;
                }
              
              .login-content-div h1{
                font-size: 47.782px
              }
              .login-form{
                height: 80rem;
                font-size: 15.49px;
              }
              .loginbtn{
                height: 2.5rem;
                width: 7.5rem;
              }
              .loginbtn a{
                font-size: 1.3rem;
              }
            .login-form form{
              height: 38rem;
              overflow: hidden;
            }
            .login-form-eye{
              width: 5rem;
              position: absolute;
              top: 57.3rem;
              left: 54rem;
            }
  
            .login-form form label{
              font-size: 43.9273px;
             line-height: 60px;
            }
            .login-form form input{
             font-size: 2.5rem;
             height: 60.96px;
  
            }
            .loggedin{
                font-size: 33.9273px;
                line-height: 85px;
                margin-top: 3rem;           }   
          
              .login-logo{
                align-items: normal;
              }
              .logos{
                margin-left: 3rem;
                }
                .logos div {
                  width: 116px;
                  height: 116px;
                }
                  
                .register{
                  height: 193rem;
                font-size: 15.49px;
                }
                .register form{
                  height: 51rem;
                }
                .fogetpassword-eye1{
                  top: 54rem;
                  left: 54rem;
                }
                
                .fogetpassword-eye2{
                  top: 64rem;
                  left: 55rem;
                }
  }
  
  
  
  @media (min-width: 481px) and (max-width: 768px) {
    .logo{
      left:  -1.5rem;
      }
    
      .main-header{
        margin-left: -4%;
      }
    
      .header::before{
        width: 77.6rem;
      }
      
      .section-1content{
        left: 362px;
      }
    
      .subsection{
        font-size: 22px;
      }
  
      .Services{
        width: 73rem;
      }
      
      .service-btns button{
        width: 148.52px;
        height: 221.46px;
      }
      .login-form form{
        height: 38rem;
        overflow: hidden;
      }

      .fogetpassword-eye1{
        top: 54rem;
        left: 54rem;
      }
      
      .fogetpassword-eye2{
        top: 64rem;
        left: 55rem;
      }

}

@media (min-width: 768px) and (max-width: 991px) {
  .logo{
  left:  -1.5rem;

  }
  .main-header{
    margin-left: -4%;
  }

  .header::before{
    width: 77.6rem;
  }
  
  .section-1content{
    left: 362px;
  }

  .subsection{
    font-size: 22px;
  }

  .Services{
    width: 73rem;
  }
  
  .service-btns button{
    width: 148.52px;
    height: 221.46px;
  }
  .Session{
    flex-direction: column;
    height: 150rem;
    align-items: center;
  }

  .session-content-1{
    height: 38rem;
  }
  .session-content-1 img{
    width: 505px;
    height: 510px;
    
  }
  .session-content-2{
    height: 94rem;
    margin-top: 3.5rem;
    width: 64%;
  }
  .session-content-2-book{
    font-size: 31px;	
    width: 100%;
    height: 84px;
    ;
    }
    
  .session-content-2 form label{
    line-height: 9rem;
    font-size: 35px;
  }

  .session-content-2 form input {
   width: 494px;
   height:50px;
    font-size: 15px;
     line-height: 24px;
  }

  .custom-dropdown{
    width: 34rem;    
  }

  .chat1 {
    height: 50px;
    width:10rem;
    font-size: 15.9137px;
    line-height: 22px;
    }

    .call {
      height: 50px;
      width: 10rem;
      font-size: 15.9137px;
      line-height: 22px;
      }
      
      .meet {
        height: 50px;
        width: 14rem;
        font-size: 15.9137px;
        line-height: 22px;
        }
        .selected-option{
          line-height: 35px;
          font-size: 22px;
        }
        .appointmenttype div {
          margin: 0 0.8rem;
          }
        .session-content-2 form button {
            margin-top: 3.6rem;
            margin-left: 11rem;
            font-size: 22px;
            line-height: 30px;
            width: 20rem;
            height: 5.5rem;
            }
          
        .back-img {
              height: 491px;
              }
              
              .Login{
                flex-direction: column-reverse;
                height: 171rem;
              }
              .login-content-1{
                width: 100%;
              }
              .login-content-2{
                height: 106rem;
                margin-left: 10rem;
              }

              .login-content-2 div button{
                margin: 
                2.6rem 2rem 1.6rem 1rem;
                width: 194.27px;
                height: 69.76px;
                }
                .login-content-2 div a{
                  font-size: 2rem;
                }
              .login-content-div{
                line-height: 114px;
                font-size: 43px;
              }
            
            .login-content-div h1{
              font-size: 47.782px
            }
            .login-form{
              height: 80rem;
              font-size: 15.49px;
            }
            .loginbtn{
              height: 2.5rem;
              width: 7.5rem;
            }
            .loginbtn a{
              font-size: 1.3rem;
            }
          .login-form form{
            height: 38rem;
            overflow: hidden;
          }
          .login-form-eye{
            width: 5rem;
            position: absolute;
            top: 57.3rem;
            left: 54rem;
          }

          .login-form form label{
            font-size: 43.9273px;
    	     line-height: 60px;
          }
          .login-form form input{
           font-size: 2.5rem;
    	     height: 60.96px;

          }
          .loggedin{
              font-size: 33.9273px;
              line-height: 85px;
              margin-top: 3rem;           }   
        
            .login-logo{
              align-items: normal;
            }
            .logos{
              margin-left: 3rem;
              }
              .logos div {
                width: 116px;
                height: 116px;
              }
                
              .register{
                height: 193rem;
              font-size: 15.49px;
              }
              .register form{
                height: 51rem;
              }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .logo{
  left:  -1.5rem;
  }
  .main-header{
    margin-left: -1%;
  }

  .header::before{
    width: 77.6rem;
  }
  
  .section-1content{
    left: 350px;
  }

  .subsection{
    font-size: 22px;
  }

  .Services{
    width: 73rem;
  }
  
  .service-btns button{
    width: 148.52px;
    height: 221.46px;
  }
  
}

@media (min-width: 1200px) and (max-width: 1242px) {
  .logo{
    left:  -1.5rem;
    }
    .main-header{
      margin-left: -1%;
    }
  
    .header::before{
      width: 77.6rem;
    }
    
    .section-1content{
      left: 350px;
    }
  
    .subsection{
      font-size: 22px;
    }
    .section-2-content p {
      font-size: 20.206px;
  }
  .section-2-content h1 {
    font-size: 43px;
}

.Services{
  width: 71rem;
}


.back-img {
  height: 491px;
  width: 82rem;
  }
.service-btns button{
  width: 148.52px;
  height: 221.46px;
}
  
}

@media (min-width: 1243px) and (max-width: 1300px) {
  .logo{
    left:  -1.5rem;
    }
    .main-header{
      margin-left: -1%;
    }
  
    .header::before{
      width: 80.6rem;
    }
    
    .section-1content{
      left: 362px;
    }
  
    .subsection{
      font-size: 22px;
    }
    .section-2-content p {
      font-size: 20.206px;
  }
  .section-2-content h1 {
    font-size: 43px;
}

.Services{
  width: 73rem;
}

.service-btns button{
  width: 148.52px;
  height: 221.46px;
}

.back-img {
  height: 491px;
  width: 82rem;
  }
  
}

@media (min-width: 1300px) and (max-width: 1375px){
  .logo{
    left:  -1.5rem;
    }
    .main-header{
      margin-left: -1%;
    }
  
    .header::before{
      width: 84.8rem;
    }
    
    .section-1content{
      left: 400px;
    }
  
    .subsection{
      font-size: 22px;
    }

    .back-img {
      height: 491px;
      width: 86rem;
      }

    .Services{
      width: 80rem;
    }
  .Test{
    width: 82rem;
  }
}



@media (min-width: 1376px) and (max-width: 1389px) {
  /* Add styles specific to small laptops and desktops */
  .logo{
    left:  -2.5rem;
    }
    .main-header{
      margin-left: -1%;
    }
  
    .header::before{
      width: 87.6rem;
    }
    
    .section-1content{
      left: 433px;
    }
  
    .subsection{
      font-size: 22px;
    }
    .Services{
      width: 85rem;
    }

    .Test{
      width: 82rem;
    }
    .back-img {
      height: 491px;
      width: 86rem;
      }
}
@media (min-width: 1390px) and (max-width: 1439px) {
  /* Add styles specific to small laptops and desktops */
  .logo{
    left:  -2.5rem;
    }
    .main-header{
      margin-left: -1%;
    }
  
    .header::before{
      width: 94rem;
    }
    
    .section-1content{
      left: 455px;
    }
  
    .subsection{
      font-size: 22px;
    }
    .Services{
      width: 91rem;
    }
    .Test{
      width: 87rem;
    }
    .back-img {
      height: 491px;
      width: 90rem;
      }
}

@media (min-width: 1440px) and (max-width: 1680px) {
  /* Add styles specific to medium laptops and desktops */
  .main-header{
    margin-left: -1%;
  }

  .header::before{
    width: 109rem;
  }
  
  .section-1content{
    left: 595px;
  }

  .subsection{
    font-size: 22px;
  }

  .section-3-content p{
    width: 671px;
  }

  .Services{
    width: 91rem;
  }
  .Test{
    width: 105rem;
  }
  .back-img {
    height: 491px;
    width: 94rem;
    }
}
